.container{
    position: relative;
    border:2px solid rgb(73, 237, 101);
    border-radius: 10px;
    max-width: 500px;
    margin:25px auto;
    padding:20px 20px;
    text-align: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.title{
    text-align: left;
    
}
.info{
    position:absolute;
    right: 20px;
    background-color: rgb(73, 237, 101);
    padding: 10px;
   
    border-radius: 20px;
}